* {
  box-sizing: border-box;
}

html {
  height: 100vh;
}

body {
  padding-top: 75px;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: hidden;
  position: relative;
}

.map {
  position: relative;
  margin-top: 20px;
  margin-bottom: 10px;
  width: 100%;
  display: flex;
  flex-direction: column;
  height: calc(
    100vh - 0px - 100px
  ); 
}

.flex-grow-1 {
  padding-top: 0px;
}

#js-map {
  position: relative;
  z-index: 100;
  padding-top: 0px;
  padding-bottom: 0px;
  margin: 0px;
  width: 100%;
  height: calc(100vh - 75px - 18px); /* Subtract the height of the header and footer*/
}

nav.navbar.navbar-expand.d-lg.bg-body-tertiary {
  z-index: 1001;
}

/* Styles for icons within the map */
.map-icon {
  position: absolute;
  z-index: 10; 
  background-color: white; 
  padding: 5px;
  border-radius: 5px;
}

.container-fluid {
  padding-left: 0;
  padding-right: 0;
  flex: 1;
  padding-top: 1px; 
  z-index: 0;
}


.ol-control {
  position: absolute;
  z-index: 1000;
}

#ol-canvas {
  width: 100%; 
  height: 100%; 
}

.ol-mouse-position > .ol-mouse-position{
  position: absolute;  /* absolute #mouse-position > */
  top: 91.5vh; /* Ajusta la posición desde la parte superior del contenedor del mapa */
  right: 0vh; /* Ajusta la posición desde el lado izquierdo del contenedor del mapa */
  z-index: 102; /* Asegúrate de que esté por encima de las capas del mapa */
  background-color: rgba(255,255,255,0.7); /* Fondo semi-transparente para mejor visibilidad */
  padding: 3px; /* Espaciado interior para que no se vea apretado */
  border-radius: 2px; /* Bordes redondeados */
  font-size: 0.4rem; /* Ajusta el tamaño del texto según sea necesario */
  pointer-events: none; /* Esto evitará que el div bloquee eventos de clic en el mapa */
}

.ol-full-screen {
  z-index: 102; /* Asegúrate de que tenga un z-index suficiente para estar sobre otros elementos */
}

.ol-scale-line {
  position: absolute;
  bottom: 10px; /* Cambia este valor según necesites para mover la barra de escala más abajo */
  left: 180px; /* Puedes ajustar esto para alinear la barra de escala horizontalmente */
  z-index: 100; /* Asegúrate de que la barra de escala no esté oculta detrás de otros elementos */
}

.ol-zoomslider {
  height: 170px;
}
header {
  height: 73px;
  width: 100%;
  position: fixed;
  top: 0; /* Alinea en la parte superior de la ventana */
  background-color: #f8f9fa; /* Color de fondo, ajusta según tu diseño */
  z-index: 10; /* Asegura que el encabezado esté sobre otros elementos */
}

#navbar_whole {
  height: 75px;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 18px; /* Altura reducida para un pie de página más pequeño */
  width: 100%;
  position: fixed;
  /* position: relative; */
  bottom: 0;
  background-color: #f8f9fa;
  z-index: 200;
  font-size: 8px; /* Tamaño de fuente más pequeño */
  line-height: 5px; /* Alinea el texto verticalmente en el footer */
  overflow: hidden; /* Oculta el contenido que exceda el tamaño del footer */
  text-align: center; /* Alineación central del texto */
  transition: transform 0.3s; /* Transición suave para el movimiento del footer */
  border: none; /* Asegura que no haya bordes */
}

footer p {
  flex: 1;
  margin: 0; /* Elimina márgenes adicionales en los párrafos */
  padding: 0; /* Elimina el padding adicional */
  display: inline-block; /* Muestra los párrafos en línea para ahorrar espacio */
  vertical-align: middle; /* Alinea verticalmente los párrafos */
  border: none; /* Elimina cualquier borde alrededor de los párrafos */
  background: none; /* Asegura que no haya fondo diferente en los párrafos */
  color: inherit; /* Los párrafos heredan el color del texto del footer */
}

body.scrolled-down footer {
  transform: translateY(
    100%
  ); /* Mueve el footer fuera de la vista al desplazarse hacia abajo */
}

body.scrolled-up footer {
  transform: translateY(
    0
  ); /* Mantiene el footer en su lugar al desplazarse hacia arriba */
}

p {
  font-weight: bold;
  border: 2px solid black;
  background-color: #fff;
  margin: 20px; /* Reducido para evitar demasiado espacio */
  padding: 10px; /* Ajuste del padding */
  z-index: 1000;
}

.social-icons {
  text-align: right;
  padding: 5px;
}

.social-icons a {
  color: #333;
  margin: 0 5px;
  font-size: 24px;
  transition: color 0.3s; /* Transición suave al cambiar de color */
}

.social-icons a:hover {
  color: #007bff;
}

.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  z-index: 99;
  top: 100%;
  left: 0;
  right: 0;
  max-height: 100px;
  overflow-y: auto;
}

.autocomplete-items div {
  padding: 1px;
  background-color: #fff;
  border-bottom: 1px solid #d4d4d4;
}

.autocomplete-items div:hover {
  background-color: #e9e9e9;
}

.sidebar {
  box-sizing: border-box;
  position: fixed; /* Fijo en la pantalla */
  top: 78px;
  bottom: 18px;
  overflow-y: auto;
  transition: margin 0.3s; /* Transicion unificada para ambos sidebars */
  /* height: calc(100vh - 75px - 18px); */
  /* padding-bottom: 10px; */
  /* margin-bottom: 18px; */
}

#left-sidebar,
#right-sidebar {
  transform: translateX(0); /* Estado visible */
  transition: transform 0.3s ease;
}

#left-sidebar.hidden,
#right-sidebar.hidden {
  transform: translateX(-100%); /* Ajusta según la dirección del sidebar */
}

#left-sidebar {
  left: 0;
  width: 250px;
  margin-left: -250px; /* Sale desde la izquierda */
  z-index: 102;
  padding: 10px;
}

#right-sidebar {
  right: 0;
  width: 500px;
  margin-right: -500px; /* Sale desde la derecha */
  z-index: 102;
  bottom: 18px;
  padding: 10px;
}

.show-left-sidebar #left-sidebar {
  margin: 0;
}

.show-right-sidebar #right-sidebar {
  margin-right: 0;
}

.navbar-nav .nav-link {
  color: #333;
  margin: 0 10px;
  display: flex; /* Establece el diseño flex para alinear los elementos de la lista horizontalmente */
  align-items: center; /* Alinea los elementos verticalmente en el centro */
  list-style: none; /* Elimina los estilos de lista predeterminados */
  padding: 0; /* Elimina el relleno predeterminado */
  vertical-align: middle; /* Alinea verticalmente las imágenes con el texto/elementos adyacentes */
}
.nav-item {
  display: flex; /* Esto asegura que el contenido del <li> se alinee correctamente */
  align-items: center; /* Alinea los elementos dentro del <li> verticalmente */
  margin-right: 10px; /* Espacio entre los elementos del navbar */
}

.navbar-nav .nav-link:hover {
  color: #007bff;
}

/* Aplica la fuente y personaliza los estilos */
body,
button,
input,
textarea {
  font-family: "Open+Sans", sans-serif; /* Tu fuente de Google */
  color: #333; /* Un color de texto suave */
}

/* Personaliza la navegacion y los encabezados */
.navbar-brand,
.nav-link,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600; /* Mas peso para mayor legibilidad */
}

.navbar-brand {
  margin-left: 10px;
}

#location-search-form {
  margin-left: 10px;
  margin-right: 10px;
}

/* Estilos para el cuerpo de texto */
p,
li,
a,
span {
  font-weight: 400; /* Peso normal para el texto */
  line-height: 1.6; /* Espaciado adecuado para la legibilidad */
}

/* Estilos para botones y entradas */
button,
input[type="submit"] {
  background-color: #007bff; /* Un color de botón primario */
  color: white; /* Texto del botón en color blanco */
  border: none; /* Sin bordes para los botones */
  padding: 10px 20px; /* Padding adecuado para los botones */
  border-radius: 5px; /* Bordes redondeados para los botones */
  font-size: 1rem; /* Un tamaño de fuente legible */
}

h3,
h2,
h4,
h5 {
  padding: 5px;
}

details {
  margin-left: 10px;
}

/* Ajustes adicionales según sea necesario... */
#btn-toggle-left-sidebar,
#btn-toggle-right-sidebar {
  position: absolute;
  z-index: 102; /* Asegúrate de que estén sobre el mapa */
  background-color: #ffffff; /* Fondo para visibilidad */
  border: 3px solid #ccc; /* Elimina los bordes predeterminados */
  padding: 6px; /* Espaciado interior para tamaño de clic */
  border-radius: 4px; /* Bordes redondeados */
  cursor: pointer; /* Cambia el cursor al pasar el ratón sobre el botón */
  width: 33x; /* Ancho del botón */
  height: 33px; /* Alto del botón */
  display: flex; /* Permite el uso de Flexbox */
  justify-content: center; /* Centra el contenido horizontalmente */
  align-items: center; /* Centra el contenido verticalmente */
  font-size: 16px; /* Tamaño del texto */
  color: #666666;
}

#btn-toggle-left-sidebar {
  top: 180px;
  right: 0px;
}

#btn-toggle-right-sidebar {
  top: 135px;
  right: 0px;
}

#btn-toggle-left-sidebar:hover,
#btn-toggle-right-sidebar:hover {
  background-color: #4872a5; /* Un azul claro para el fondo */
  border: 3px solid rgb(240 239 237, 0.7);
  transform: scale(1.05);
}

#btn-toggle-left-sidebar:hover i,
#btn-toggle-right-sidebar:hover i {
  color: #343537; /* Un azul más estándar para el icono */
}

#btn-toggle-left-sidebar.move-right {
  right: calc(
    0px + 500px
  ); /* Desplaza el botón a la derecha en función del ancho del sidebar izquierdo */
}

#btn-toggle-right-sidebar.move-left {
  right: calc(
    0px + 500px
  ); /* Desplaza el botón a la derecha en función del ancho del sidebar derecho */
}

.move-right-mouse-position {
  right: calc(500px); /* Ajusta este valor según el ancho de tu sidebar */
}

.ol-popup {
  background-color: white;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #cccccc;
  bottom: 20px; /* Asegúrate de que haya espacio suficiente debajo de la barra de escala */
  left: 170px; /* Puedes ajustarlo para alinear con la barra de escala */
  position: absolute;
  min-width: 180px; /* Asegúrate de que el popup sea lo suficientemente ancho */
  z-index: 10; /* El z-index debe ser suficientemente alto para estar sobre los demás elementos */
}

#layer-controls {
  margin-left: 15px;
}

/* Ajustes de cambio del ancho del mapa para los sidebars */
.map-shift-right {
  margin-left: 250px; /* Ajustar según el ancho del panel izquierdo */
}

.map-shift-left {
  margin-right: 500px; /* Ajustar según el ancho del panel derecho */
}

.flex-grow-1.map-shift-right {
  margin-left: 250px; /* Ajuste para el ancho del sidebar izquierdo */
}

.flex-grow-1.map-shift-left {
  margin-right: 500px; /* Ajuste para el ancho del sidebar derecho */
}

/* Estilos adicionales */

.chart-container {
  padding: 10px;
  height: 500px; /* Ajusta la altura según necesites */
  min-width: 100%; /* Asegúrate de que el contenedor tome al menos el ancho completo de la pantalla */
  overflow-x: auto; /* Permite desplazamiento horizontal si el contenido es más ancho */
  min-height: 400px;
}

.chart-container canvas {
  width: 100% !important; /* Asegúrate de que ocupe el ancho del contenedor */
  height: 100% !important; /* Asegúrate de que ocupe la altura del contenedor */
  z-index: 1000;
  min-height: 400px;
}


#nominal-generator-capacity-chart-container {
  display: flex;
  justify-content: center; /* Centra horizontalmente */
  align-items: center; /* Centra verticalmente */
  height: 400px; /* Altura del contenedor */
  width: 90%;
  z-index: 1000;
  min-height: 400px;
}

#nominal-generator-capacity-chart {
  height: 400px;
  z-index: 1000;
  min-height: 400px;
}

#optimal-generator-capacity-chart-container {
  display: flex;
  justify-content: center; /* Centra horizontalmente */
  align-items: center; /* Centra verticalmente */
  height: 400px; /* Altura del contenedor */
  z-index: 1000;
  min-height: 400px;
}

#optimal-generator-capacity-chart {
  height: 400px;
  z-index: 1000;
  min-height: 400px;
}

#nominal-storage-capacity-chart-container {
  display: flex;
  justify-content: center; /* Centra horizontalmente */
  align-items: center; /* Centra verticalmente */
  height: 400px; /* Altura del contenedor */
  z-index: 1000;
  min-height: 400px;
}

#nominal-storage-capacity-chart {
  height:400px;
  z-index: 1000;
  min-height: 400px;
}

#optimal-storage-capacity-chart-container {
  display: flex;
  justify-content: center; /* Centra horizontalmente */
  align-items: center; /* Centra verticalmente */
  height:400px; /* Altura del contenedor */
  z-index: 1000;
  min-height: 400px;
}

#optimal-storage-capacity-chart {
  height: 400px;
  z-index: 1000;
  min-height: 400px;
}

#line-capacity-chart-container {
  display: flex;
  justify-content: center; /* Centra horizontalmente */
  align-items: center; /* Centra verticalmente */
  height: 400px; /* Altura del contenedor */
  z-index: 1000;
  min-height: 400px;
}

#lineDataChart {
  height: 400px;
  z-index: 1000;
  min-height: 400px;
}

.layer-toggle{
  font-size: 18px;
  
}

.layer-toggle .fa-download {
  cursor: pointer;
  margin-left: 5px;
  color: #343537;
  font-size: 10px;

}

.layer-toggle .fa-download:hover {
  color: #007bff;
}

.navbar-toggler {
  margin-left: 10px;
}